body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    min-width:300px;
}
li {
    list-style: none;

}

.navbar-expand-lg{
    background-color:#33415C;
    ;
}

nav .navbar-brand img {
    width: 100px;
}

nav a.navbar-brand {
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.navbar-dark .navbar-toggler {
    border: solid 1px #fff;
    height: 50px;
}

.carousel, .carousel-inner, .carousel-item img{
    height: 400px;
    /* overflow: hidden; */
    object-fit: cover;
}
.carousel {
    display: none;
}

.carousel-caption .btn-pesquisar {
    text-shadow: #000 -2px -2px;
    font-size: x-large;
    width: 100%;
}

/* .carousel-caption .btn-pesquisar {
    background-color: #4DAEFF;
    text-shadow: #000;
    color: #fff;
    font-size: x-large;
    width: auto;
    border: solid 1px #fff;
    border-radius: 2rem;
} */

.carousel-caption .btn-pesquisar a:focus {

    border-radius: 2rem;
}

.titulo-carrosel {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
    font-size:30px;
}

.pesquisar {
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color: #33415c;
    background-color: #9bacbb;
    width:100% ;
}
.pesquisar h2 {
padding: 85px 0 15px 0;
}
/* .pesquisar button {
    background: #fecb62;
    color: #fff;
    border: solid 2px #fff;
}

.pesquisar button:hover {
    background-color:  #fecb62;
    color: #33415c;
    border: solid 2px #33415c;
} */


.pesquisar button {
    background: #fecb62;
    color: #fff;
    border: solid 2px #fff;
    font-weight: 700;
    transition: 0.2s;

}

.pesquisar button:hover {
    background-color:  #fecb62;
    color: #33415c;
    border: solid 2px #33415c;
    transition: 0.2s;
}

.form-control {
    width: 60%;
    border-radius: 2rem;
    margin-bottom: 15px;
}

.container-vagas h3 {
    margin: 20px 0;
    text-align: center;
    color: #33415C;
}

.card-vaga {
    padding: 5px 20px;
    margin: 0px 5px;
    border-radius: 1rem;
    border: 2px solid #979DAC;
    min-width: 210px;
}

.col {
    padding: 0;
}

.card-vaga li:nth-child(2) {
    border-left: solid 1px #9bacbb;
    border-right: solid 1px #9bacbb;

}

.card-vaga li {
    padding: 0 10px;
}

/* .card-vaga .card-botton a {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 50%;
    color: #33415c;
} */

.checkbtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#remoto {
    margin-right: 5px;
    margin-top: 5px;
}

.card-vaga .card-botton a {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 50%;
    color: #33415c;
    transition: 0.2s;

}

.card-vaga .card-botton a:hover {
    text-decoration: none;
    background-color: #33415c;
    color: #FECB62;
    transition: 0.2s;

}

.card-vaga h4 {
    color: #33415c;
    font-size: 1.3rem;
}

.card-vaga p {
    margin: 0;
}


#logo-footer {
    margin-right: 15px;
    margin-top: 12px;
    width: 100px;

}

#div-logo-footer {
    padding: 0px 10px;
    align-items: center;

}

img.card-img-top {
    display: none;
}

.card-botton {
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: #33415c;
    color: #fff;
    margin-left: 10%;
    /* padding: 10px 30px; */
}

footer img {
    margin-top: 30px;
}
footer .projeto-integrador {
    margin-top: 20px;

}

.projeto-integrador h3{
    font-size: 1.6rem;
}

ul {
    padding: 0;
}

#sobre {
  margin-top: 100px;
  text-align: center;
}

#objetivos-tecnologias {
    margin-top: 40px; 
    text-align: center;
}

.sublinhado {
    text-decoration:underline;
}

@media (min-width: 768px) {
    .carousel {
      display: block;
    }

    .form-control {
        width: 100%;
    }

    .pesquisar h2 {
        padding: 25px 0 15px 0;
        
    }
    .col {
        padding: 0 20px;
    }
    img.card-img-top {

        display: block;
    }

    .row{
        margin-right: 150px;
        margin-left: 150px;
    }
    
    .navbar {
        padding: 0.5rem 11rem;
    }

    .checkbtn {
        padding-top: 10px;
    
    }

    #logo-footer {
        margin-right: 15px;
        margin-top: 12px;
        width: 100px;
        margin-left: 15%;
    }
}