body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
li {
    list-style: none;

}

.navbar-expand-lg{
    background-color:#0466C8;
    ;
}

nav .navbar-brand img {
    width: 50px;
}

nav a.navbar-brand {
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.navbar-dark .navbar-toggler {
    border: solid 1px #fff;
    height: 50px;
}

.carousel, .carousel-inner, .carousel-item img{
    height: 400px;
    /* overflow: hidden; */
    object-fit: cover;
}
.carousel {
    display: none;
}

.carousel-caption .btn-pesquisar {
    background-color: #023E7D;
    color: #fff;
    font-size: x-large;
    width: 200px;
    border: solid 1px #fff;
    border-radius: 2rem;
}

.carousel-caption .btn-pesquisar a:focus {

    border-radius: 2rem;
}

.carousel-caption .btn-pesquisar:hover {
    background-color: #1860ad;

}


.pesquisar {
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color: #33415c;
    background-color: #9bacbb;
    width:100% ;
}
.pesquisar h2 {
padding: 85px 0 15px 0;
}
.pesquisar button {
    background: #023E7D;
    color: #fff;
    border: solid 2px #fff;
}

.pesquisar button:hover {
    background-color:  #1860ad;
}


.form-control {
    width: 60%;
    border-radius: 2rem;
    margin-bottom: 15px;
}

.container-vagas h3 {
    margin: 20px 0;
    text-align: center;
    color: #33415C;
}

.card-vaga {
    padding: 5px 20px;
    border-radius: 1rem;
    border: 2px solid #979DAC
}

.col {
    padding: 0;
}

.card-vaga li:nth-child(2) {
    border-left: solid 1px #9bacbb;
    border-right: solid 1px #9bacbb;

}

.card-vaga li {
    padding: 0 10px;
}

.card-vaga .card-botton a {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #C4C4C4;
    border-radius: 50%;
    color: #33415c;
}

.card-vaga h4 {
    color: #33415c;
    font-size: 1.3rem;
}

.card-vaga p {
    margin: 0;
}


img.card-img-top {
    display: none;
}
.card-botton {
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: #33415c;
    color: #fff;
    /* padding: 10px 30px; */
}

footer img {
    margin-top: 30px;
    width: 100px;
    height: 100px;

}
footer .projeto-integrador {
    margin-top: 20px;

}

ul {
    padding: 0;
}

@media (min-width: 768px) {
    .carousel {
      display: block;
    }

    .form-control {
        width: 100%;
    }

    .pesquisar h2 {
        padding: 25px 0 15px 0;
        
    }
    .col {
        padding: 0 20px;
    }
    img.card-img-top {

        display: block;
    }

}